# Prune config for non-sensitive Layers in ICNet with ResNet50 V1 Backbone.
#
# Instead of pruning all Conv Layers, this config only prunes non-sensitive
# layers that are determined from sensitivity analysis.

compression_strategy {
    filter_pruner {

        input { name: "Preprocessor/sub" }

        output { name: "Predictions/postrain/Conv2D" }

        ##
        # Input Conv
        #

        skip_node {
            name: "SharedFeatureExtractor/resnet_v1_50/conv1/Conv2D"
        }

        ##
        # Block1
        #

        skip_node {
            name: "SharedFeatureExtractor/resnet_v1_50/block1/unit_1/bottleneck_v1/shortcut/Conv2D"
        }

        skip_node {
            name: "SharedFeatureExtractor/resnet_v1_50/block1/unit_1/bottleneck_v1/conv3/Conv2D"
        }

        skip_node {
            name: "SharedFeatureExtractor/resnet_v1_50/block1/unit_2/bottleneck_v1/conv3/Conv2D"
        }

        skip_node {
            name: "SharedFeatureExtractor/resnet_v1_50/block1/unit_3/bottleneck_v1/conv3/Conv2D"
        }

        ##
        # Block2
        #

        skip_node {
            name: "SharedFeatureExtractor/resnet_v1_50/block2/unit_1/bottleneck_v1/shortcut/Conv2D"
        }

        skip_node {
            name: "SharedFeatureExtractor/resnet_v1_50/block2/unit_1/bottleneck_v1/conv3/Conv2D"
        }

        skip_node {
            name: "SharedFeatureExtractor/resnet_v1_50/block2/unit_2/bottleneck_v1/conv3/Conv2D"
        }

        skip_node {
            name: "SharedFeatureExtractor/resnet_v1_50/block2/unit_3/bottleneck_v1/conv3/Conv2D"
        }

        skip_node {
            name: "SharedFeatureExtractor/resnet_v1_50/block2/unit_4/bottleneck_v1/conv3/Conv2D"
        }

        ##
        # Block3
        #

        skip_node {
            name: "SharedFeatureExtractor/resnet_v1_50/block3/unit_1/bottleneck_v1/shortcut/Conv2D"
        }

        skip_node {
            name: "SharedFeatureExtractor/resnet_v1_50/block3/unit_1/bottleneck_v1/conv3/Conv2D"
        }

        skip_node {
            name: "SharedFeatureExtractor/resnet_v1_50/block3/unit_2/bottleneck_v1/conv3/Conv2D"
        }

        skip_node {
            name: "SharedFeatureExtractor/resnet_v1_50/block3/unit_3/bottleneck_v1/conv3/Conv2D"
        }

        skip_node {
            name: "SharedFeatureExtractor/resnet_v1_50/block3/unit_4/bottleneck_v1/conv3/Conv2D"
        }

        skip_node {
            name: "SharedFeatureExtractor/resnet_v1_50/block3/unit_5/bottleneck_v1/conv3/Conv2D"
        }

        skip_node {
            name: "SharedFeatureExtractor/resnet_v1_50/block3/unit_6/bottleneck_v1/conv3/Conv2D"
        }

        ##
        # Block4
        #

        skip_node {
            name: "SharedFeatureExtractor/resnet_v1_50/block4/unit_1/bottleneck_v1/shortcut/Conv2D"
        }

        skip_node {
            name: "SharedFeatureExtractor/resnet_v1_50/block4/unit_1/bottleneck_v1/conv3/Conv2D"
        }

        skip_node {
            name: "SharedFeatureExtractor/resnet_v1_50/block4/unit_2/bottleneck_v1/conv3/Conv2D"
        }

        skip_node {
            name: "SharedFeatureExtractor/resnet_v1_50/block4/unit_3/bottleneck_v1/conv3/Conv2D"
        }

        ##
        # Other Special Nodes
        #

        skip_node {
            name: "CascadeFeatureFusion_0/Conv/Conv2D"
        }
    }
}
