# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#                                                                 #
#    x    HPARAM OPT CONFIG FOR ICNET 1.0 FILTER SCALE     x      #
#                                                                 #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

#
# CHANGE FOR HPARAM SEARCHES
#

##### $$ MODEL CONFIG $$ #####
model {
    icnet {
        num_classes: 19
        filter_scale: 1.0
        feature_extractor {
            type: 'dilated_resnet50'
        }
        hyperparams {
            batch_norm {
                train: true
                scale: true
                center: true
                decay: 0.9997
                epsilon: 0.00001
            }
            regularizer {
                l2_regularizer {
                     weight: 0.0001
                }
            }
            initializer {
                variance_scaling_initializer {}
            }
        }
        loss {
            classification_loss {
                softmax {}
            }
            use_aux_loss: true
            main_loss_weight: 1.0
            second_branch_loss_weight: 0.4
            first_branch_loss_weight: 0.16
        }
    }
}


##### $$ TRAINING CONFIG $$ #####
train_config: {
    batch_size: 32
    num_steps: 30000
    # resnet50 checkpoint
    fine_tune_checkpoint: "tmp/resnet50/resnet_v1_50.ckpt"
    fine_tune_checkpoint_type: "classification"
    optimizer {
        momentum_optimizer: {
            learning_rate: {
                polynomial_decay_learning_rate {
                    initial_learning_rate: 0.001
                    decay_steps: 30000
                    power: 0.9
                }
            }
            momentum_optimizer_value: 0.9
        }
    }
    preprocessor_step {
        random_image_scale {
            min_scale_ratio: 0.75
            max_scale_ratio: 2.0
        }
    }
    preprocessor_step {
        random_image_crop {
            crop_height: 768
            crop_width: 768
            images_channel_dim: 3
            labels_channel_dim: 1
        }
    }
    preprocessor_step {
        random_horizontal_flip {}
    }
    batch_queue_capacity: 150
    num_batch_queue_threads: 25
    prefetch_queue_capacity: 10
}
train_input_reader: {
    num_examples: 2975
    shuffle: true
    tf_record_input_reader {
        input_path: "tmp/cityscapes_train.record"
    }
    num_readers: 20
}


##### $$ EVAL CONFIG $$ #####
eval_config: {
    num_examples: 500
    max_evals: 500
    fixed_height: 1024
    fixed_width: 2048
}
eval_input_reader: {
    shuffle: false
    num_readers: 1
    tf_record_input_reader {
        input_path: "tmp/cityscapes_train.record"
    }
}
